 /*= require foundation */
 /*= require_tree . */
 /*= require_self */
 /*= require foundation_and_overrides */

@import 'foundation_and_overrides';
@import 'foundation-icons';
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Lobster|Francois+One);

.brew {
	background-color: #FFFFFF;
	margin-top: 2px;
	height: 20%;
	width: 100%;
}

#beer-name {
	margin: 0px;
}

#beer-type {
	margin: 0px;
}

#beer-info {
	margin: 0px;
}

#beer-description {
	margin: 0px;
}

.brews {
	background-color: #333333;
	height: 100%;
	width: 100%;
	float: left;
}

#beer-image {
	float: left;
	height: 100%;
	width: 15%;
}

#beer-name {
	display: inline-block;
	font-family: 'Lobster', cursive;
	margin-left: 3%;
	width: 25%;
}

#beer-type {
	display: inline-block;
	font-family: 'Francois One', sans-serif;
	color: #333333;
	margin-right: 10%;
	width: 20%;
}

#beer-info {
	display: inline-block;
	font-family: 'Poiret One', cursive;
	color: #898989;
	width: 20%;
	margin-right: 3%;
}

#beer-description {
	float: left;
	width: 65%;
	font-family: 'Poiret One', cursive;
	margin-right: 10%;
	margin-left: 5%;
}

.beer-buttons {
	width: 100%;
	height: 7% !important;
	background-color: #FFFFFF;
}

.add-beer {
	background-color: #333333;
	text-align: center;
	margin-left: 2%;
	width: 20%;
	float: left;
}

.been-here {
	background-color: #333333;
	text-align: center;
	margin-left: 2%;
	width: 20%;
	float: left;
}

.left {
	width: 60%;
	float: left;
	height: 100%;
}

.cbp-spmenu {
	background: #302F3B;
	position: fixed;
}

#name-header {
	font-family: 'Lobster', cursive;
}

.username {
	display: block;
	color: #FFF;
	padding: 12px 0 12px 0;
	font-family: "Helvetica Neue", Helvitica, Roboto, Arial, sans-serif;
	font-size: 0.8125rem;
	font-weight: normal;
	text-transform: none;
}

.est {
	display: inline;
	color: #c3c3c3;
}

.address {
	margin-bottom: 0;
	color: #898989;
	font-family: 'Poiret One', cursive;
}

.phone {
	margin-bottom: 0;
	color: #343434;
	font-family: 'Poiret One', cursive;
}

.info {
	float: right;
	margin-right: 1%;
	width: 38%;
	text-align: center;
	margin-top: 40px;
}

.cbp-spmenu h1 {
	margin-top: 45px;
	color: #302F3B;
	font-size: 1.9em;
	font-family: 'Francois One', sans-serif;
	padding: 20px;
	font-size: 1.6em;
	padding: 10px;
	margin: 0;
	font-weight: 300;
	display: inline;
}

.cbp-spmenu h4 {
	color: #FFFFFF;
	font-size: .7em;
	padding: 10px;
	margin: 0;
	font-weight: 300;
}

.brewery-topper {
	background: #FFFFFF;
	height: 40%;
	min-height: 275px;
}

.description {
	font-family: 'Poiret One', cursive;
	color: #c3c3c3;
	margin-left: 2%;
	height: 70%;
	overflow: auto;
	width: 98%;
}


.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

.fi-x:hover {
	opacity: 0.7;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 70%;
	height: 100%;
	top: 6%;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
}

.gm-style {
	height: auto;
	width: auto;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -70%;
}

.cbp-spmenu-right {
	right: -70%;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	top: 45px;
	overflow-y: scroll;
}

/* Modal on top of map*/
.reveal-modal.open{
  position: absolute;
  z-index: 20000;
}


.username{
  display: block;
  color: #FFFFFF;
  padding: 12px 0 12px 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: none;
}

.side-content{
	color:#FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
}

//****************************************//
//             MOBILE SETTINGS            //
//****************************************//

@media screen and (max-width: 480px) {
	.brewery-topper {
		float: left;
	}

	.brew {
		height: 10%;
	}

	.left {
		width: 100%;
		display: block;
		height: 50%;
	}

	.description {
		height: 55%;
		float: left;
		margin: 0;
	}

	.info {
		margin-top: 0px;
		display: block;
		width: 100%;
		height: 50%;
	}

	.beer-buttons {
		width: 100%;
		float: left;
		height: 7% !important;
	}

	.add-beer {
		width: 40%;
	}

	.est {
		text-align: center;
	}

	.been-here {
		width: 40%;
	}

	.cbp-spmenu-left {
		left: -100%;
	}

	.cbp-spmenu-right {
		right: -100%;
	}

	.cbp-spmenu-vertical {
		width: 100%;
		height: 100%;
		top: 6%;
		z-index: 1000;
	}

}
